.hxwidgets .card {
    background-color: platform-color(app-workspace);
}

.hxwidgets .textarea {
    color: none; /*platform-color(window-text);*/
}

.hxwidgets #player_box {
    background-color: platform-color(app-workspace);
}

.hxwidgets .button:hover {
    background-color: green ;
}

.simili_button {
    background-color: platform-color(btn-face);
}


.mainplayercard #progress {
    /*min-width:500;*/
    width:100%;
    
    horizontal-align:center;

}

.mainplayercard #progress_box {
    /*min-width:500;*/
    width:80%;
    horizontal-align:center;

}

.mainplayercard #play_card {
    horizontal-align:center;
}
.mainplayercard #buttons {
    horizontal-align:center;
}


.feedbackeditor {
   /* min-height: 300;*/
    min-width: 300;
}

.feedbackeditor .grid {
    /* min-height: 300;*/
    width:100%
 }

.little_feedback_text {
    hidden: false;
    width:100%;
    /*background-color: red*/
}

.big_feedback_text {
    hidden: true;
    /*background-color: green;*/
}

@media (min-width: 1200px) {

    .feedbackeditor {
        width: 100%;
     }

    .little_feedback_text {
        hidden: true;
    }

    .big_feedback_text {
        hidden: false;
        width:100%
    }
}


.questiontypegrid {
    min-width: 300;
    horizontal-align: center;

}

.hxwidgets .questiontypegrid {
    padding: 20px;
    background-color: platform-color(app-workspace);
}



.edit-card {
    horizontal-align: center;
    /*margin-top: 50px;*/
    
}

.card-title-label {
    min-width: 300;
}


.edit-card #question_title{
    min-width: 300;
}

.edit-card #question_text{
    min-width:300;
    min-height:120;
}

.delete-button {
    height: 100%;
}

.play-card .vbox{
    min-width: 200px;
}

.correct #check {
    resource: $check-selected ;
    hidden: false
}

.correct #button_true {
    border-color: green;
    background-color: green;
}


.correct  {
    /*background-color: green;*/
    color: green;
}

.incorrect  {
    /*background-color: green;*/
    color: red;
}

.answered  {
    /*background-color: green;*/
    icon: $check-selected ;
}

.selected-answer .label {
    font-bold: true;
}

.selected-answer {
    font-bold: true;
}


.selected-answer .label {
    font-bold: true;
}

.selected-answer-incorrect #check {
    resource: $close ;
}

.readmode:disabled .label {
    color : black;
}

.readmode:disabled #check {
    filter: none;
    opacity: 1;
}
